.example-spacer {
    
    margin-right: 9%;
  }

.title {  
    width: 63px;
    overflow: hidden;
    height: 64px;
  }

  .title:hover{
    overflow: visible;
    cursor: pointer;
  }

  .logo{
    width: 160px;
    height: 30px; 
    margin-left: 20px; 
    margin-top: 20px; 
    background-color: rgb(238, 238, 238);
    image-rendering: optimizeQuality;   
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
  }