.logo{
  
    max-width: 17% !important;
    max-height: 8% !important;
    /* background-color: rgb(228, 224, 224); */
    image-rendering: optimizeQuality;   
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
}