<app-header></app-header>
<mat-drawer-container class="example-container drawer">
  <mat-drawer  style="width: 12%; background-color: transparent;" mode="side" opened>
    <div class="row">
      <div class="col-12 panels" routerLink="">
        Dashboard
      </div>
      <div class="col-12 panels" routerLink="/schoolrecords">
        School Records
      </div>
      <div class="col-12 panels">
        Transactions
      </div>
      <div class="col-12 panels">
        History
      </div>
      <div class="col-12 panels">
        Teachers
      </div>
      <div class="col-12 panels">
        Students
      </div>
      <div class="col-12 panels">
        Standards
      </div>
      <div class="col-12 panels">
        Topics
      </div>
      <div class="col-12 panels">
        Licenses
      </div>
      <div class="col-12 panels">
        Users
      </div>
      <div class="col-12 panels">
        Updates
      </div>
      <div class="col-12 panels">
        Dummy 1
      </div>
      <div class="col-12 panels">
        Dummy 2
      </div>
      <div class="col-12 panels">
        Dummy 2
      </div>
      <!-- <div class="col-12 panels">
        Dummy 3
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div> -->
      <!-- <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div>
      <div class="col-12 panels">
        Dummy 4
      </div> -->
  </div>
  </mat-drawer>
  <mat-drawer-content style="height:100%;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>


